* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 1500px;
  overflow: hidden;
  background-color: whitesmoke;
  page-break-after: always;
}

/* Half side of the page*/
.half {
  width: 100%;
  height: 100%;
}

.img {
  overflow: hidden;
}

.text_square {
  box-shadow: 5px 5px 50px black;
  border-radius: 5%;
  margin: 8% 5% 5% 5%;
  padding-bottom: 15px;
  background-color: #ddddde;
}

h1,
h2,
h3,
p,
th,
tr,
label {
  padding-top: 3%;
  padding-right: 5%;
  padding-left: 5%;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 150%;
}

p,
label,
#input_username,
tr {
  font-size: 130%;
  line-height: 140%;
}

/*General styling of all the buttons*/
/*Code taken from https://getcssscan.com/css-buttons-examples button nr 80, with small adjustments*/
.btn {
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  /*Change font-size*/
  font-size: 1.5rem;
  font-weight: 700;
  /*letter-spacing: -.01em;
  line-height: 1.3;*/
  padding: .875rem 1.125rem;
  position: relative;
  /*text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;*/
}

.btn:not(:disabled):hover {
  transform: scale(1.05);
}

.btn:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.btn:focus {
  outline: 0 solid transparent;
}

.btn:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.btn:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.btn:focus:not(:focus-visible):before {
  border-width: 0;
}

.btn:not(:disabled):active {
  transform: translateY(.125rem);
} /*End of code from getcssscan.com*/

/*Start button-div*/
.start {
  margin-left: 40%;
  padding-bottom: 5%;
  margin-top: 5%,
}


#input_username,
#start_quiz_btn, #btn_check,
#btn_next {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/*Hide the shorter instruction text on larger screen*/
#instructions_small_device {
  display: none;
}

/*Button turns blue when the user click it to show the user what they have chosen*/
.selected_blue {
    background-color: #C1E4FD
  }

  /*Button change color to green (right) or red (wrong) depending on the answer is right or wrong*/
.right_green {
    background-color: #7FD1AE;
  }
  
  .wrong_red {
    background-color: #E48F92;
  }



  @media screen and (max-width: 600px) {
    /*Hide the longer text on small devices and show the shorter text for instructions instead*/
    #instructions_large_device {
      display: none;
    }
  
    #instructions_small_device {
      display: block;
    }
  
  }