

/*Button turns blue when the user click it to show the user what they have chosen*/
.selected_blue {
    background-color: #C1E4FD
  }

  /*Button change color to green (right) or red (wrong) depending on the answer is right or wrong*/
.right_green {
    background-color: #7FD1AE;
  }
  
  .wrong_red {
    background-color: #E48F92;
  }